.icon-power {
	background: url('icons/icon-power.png') no-repeat center center;
}

.icon-home {
	background: url('icons/icon-home.png') no-repeat center center;
}

.icon-man {
	background: url('icons/icon-man.png') no-repeat center center;
}

.icon-save {
	background: url('icons/icon-save.png') no-repeat center center;
}

.icon-mini-refresh {
	background: url('icons/mini_refresh.png') no-repeat center center;
}

.icon-color {
	background: url('icons/icon-color.png') no-repeat center center;
}

.icon-reload {
	background: url('icons/icon-reload.png') no-repeat center center;
}

.icon-woman {
	background: url('icons/icon-woman.png') no-repeat center center;
}

.icon-info {
	background: url('icons/icon-info.png') no-repeat center center;
}

.icon-question {
	background: url('icons/icon-question.png') no-repeat center center;
}

.icon-tools {
	background: url('icons/icon-tools.png') no-repeat center center;
}

.icon-map {
	background: url('icons/icon-map.png') no-repeat center center;
}

.icon-search {
	background: url('icons/icon-search.png') no-repeat center center;
}

.icon-danger {
	background: url('icons/icon-danger.png') no-repeat center center;
}

.icon-love {
	background: url('icons/icon-love.png') no-repeat center center;
}

.icon-star {
	background: url('icons/icon-star.png') no-repeat center center;
}

.icon-user {
	background: url('icons/icon-user.png') no-repeat center center;
}

.icon-role {
	background: url('icons/icon-role.png') no-repeat center center;
}

.icon-option {
	background: url('icons/icon-option.png') no-repeat center center;
}

.icon-puzzle {
	background: url('icons/icon-puzzle.png') no-repeat center center;
}

.icon-warn {
	background: url('icons/icon-warn.png') no-repeat center center;
}

.icon-chat {
	background: url('icons/icon-chat.png') no-repeat center center;
}

.icon-dbadd {
	background: url('icons/icon-dbadd.png') no-repeat center center;
}

.icon-dbdel {
	background: url('icons/icon-dbdel.png') no-repeat center center;
}

.icon-edit {
	background: url('icons/icon-edit.png') no-repeat center center;
}

.icon-add {
	background: url('icons/icon-add.png') no-repeat center center;
}

.icon-remove {
	background: url('icons/icon-remove.png') no-repeat center center;
}

.icon-yes {
	background: url('icons/icon-yes.png') no-repeat center center;
}

.icon-no {
	background: url('icons/icon-no.png') no-repeat center center;
}

.icon-db {
	background: url('icons/icon-db.png') no-repeat center center;
}

.icon-mail {
	background: url('icons/icon-mail.png') no-repeat center center;
}

.icon-log {
	background: url('icons/icon-log.png') no-repeat center center;
}

.icon-download {
	background: url('icons/icon-download.png') no-repeat center center;
}

.icon-company {
	background: url('icons/icon-company.png') no-repeat center center;
}

.icon-data {
	background: url('icons/icon-data.png') no-repeat center center;
}

.icon-address {
	background: url('icons/icon-address.png') no-repeat center center;
}

.icon-conn {
	background: url('icons/icon-conn.png') no-repeat center center;
}

.icon-battery {
	background: url('icons/icon-battery.png') no-repeat center center;
}

.icon-calc {
	background: url('icons/icon-calc.png') no-repeat center center;
}

.icon-organ {
	background: url('icons/icon-organ.png') no-repeat center center;
}

.icon-calendar {
	background: url('icons/icon-calendar.png') no-repeat center center;
}

.icon-camera {
	background: url('icons/icon-camera.png') no-repeat center center;
}

.icon-chart {
	background: url('icons/icon-chart.png') no-repeat center center;
}

.icon-flower {
	background: url('icons/icon-flower.png') no-repeat center center;
}

.icon-menu {
	background: url('icons/icon-menu.png') no-repeat center center;
}

.icon-key {
	background: url('icons/icon-key.png') no-repeat center center;
}

.icon-setting {
	background: url('icons/icon-setting.png') no-repeat center center;
}