<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyenigma.dao.SysProjectMapper">
    <resultMap id="BaseResultMap" type="com.dyenigma.entity.SysProject">
        <id column="PRJ_ID" jdbcType="VARCHAR" property="prjId"/>
        <result column="PRJ_NAME" jdbcType="VARCHAR" property="prjName"/>
        <result column="PRJ_DESC" jdbcType="VARCHAR" property="prjDesc"/>
        <result column="LEADER" jdbcType="VARCHAR" property="leader"/>
        <result column="LEVEL" jdbcType="VARCHAR" property="level"/>
        <result column="STATUS" jdbcType="CHAR" property="status"/>
        <result column="CREATED" jdbcType="TIMESTAMP" property="created"/>
        <result column="LASTMOD" jdbcType="TIMESTAMP" property="lastmod"/>
        <result column="CREATER" jdbcType="VARCHAR" property="creater"/>
        <result column="MODIFYER" jdbcType="VARCHAR" property="modifyer"/>
        <result column="CO_ID" jdbcType="VARCHAR" property="coId"/>
        <result column="CO_NAME" jdbcType="VARCHAR" property="coName"/>
    </resultMap>
    <sql id="Base_Column_List">
        PRJ_ID, PRJ_NAME, PRJ_DESC,CO_ID,CO_NAME, LEADER, LEVEL, STATUS, CREATED, LASTMOD, CREATER, MODIFYER
    </sql>

    <select id="getPrjByCoId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_project where CO_ID=#{coId,jdbcType=VARCHAR} and status='E'
    </select>
</mapper>