<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyenigma.dao.SysPostMapper">
    <resultMap id="BaseResultMap" type="com.dyenigma.entity.SysPost">
        <id column="POST_ID" jdbcType="VARCHAR" property="postId"/>
        <result column="POST_NAME" jdbcType="VARCHAR" property="postName"/>
        <result column="DIV_ID" jdbcType="VARCHAR" property="divId"/>
        <result column="POST_DESC" jdbcType="VARCHAR" property="postDesc"/>
        <result column="STATUS" jdbcType="CHAR" property="status"/>
        <result column="CREATED" jdbcType="TIMESTAMP" property="created"/>
        <result column="LASTMOD" jdbcType="TIMESTAMP" property="lastmod"/>
        <result column="CREATER" jdbcType="VARCHAR" property="creater"/>
        <result column="MODIFYER" jdbcType="VARCHAR" property="modifyer"/>
    </resultMap>
    <sql id="Base_Column_List">
        POST_ID, POST_NAME, DIV_ID, POST_DESC, STATUS, CREATED, LASTMOD, CREATER, MODIFYER
    </sql>


    <select id="findPostByDiv" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_post where DIV_ID = #{divId,jdbcType=VARCHAR} and status = 'E'
    </select>

    <update id="invalidByPrimaryKey" parameterType="java.lang.String">
        update sys_post set status = 'I' where POST_ID = #{postId,jdbcType=VARCHAR}
    </update>
</mapper>