<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyenigma.dao.SysPrjRoleMapper">
    <resultMap id="BaseResultMap" type="com.dyenigma.entity.SysPrjRole">
        <id column="PR_ID" jdbcType="VARCHAR" property="prId"/>
        <result column="PRJ_ID" jdbcType="VARCHAR" property="prjId"/>
        <result column="ROLE_ID" jdbcType="VARCHAR" property="roleId"/>
        <result column="STATUS" jdbcType="CHAR" property="status"/>
        <result column="CREATED" jdbcType="TIMESTAMP" property="created"/>
        <result column="LASTMOD" jdbcType="TIMESTAMP" property="lastmod"/>
        <result column="CREATER" jdbcType="VARCHAR" property="creater"/>
        <result column="MODIFYER" jdbcType="VARCHAR" property="modifyer"/>
    </resultMap>
    <sql id="Base_Column_List">
        PR_ID, PRJ_ID, ROLE_ID, STATUS, CREATED, LASTMOD, CREATER, MODIFYER
    </sql>

    <select id="findAllByPrjId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_prj_role where PRJ_ID = #{prjId,jdbcType=VARCHAR}
    </select>
    <select id="findAllByRoleId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_prj_role where ROLE_ID = #{roleId,jdbcType=VARCHAR}
    </select>
</mapper>