<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyenigma.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.dyenigma.entity.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="atomId" jdbcType="INTEGER" property="atomid" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
  </resultMap>
</mapper>